/* ===========Import============ */
@import '_color';
@import '_screens';
@import '_reset';
@import '_menu';
@import '_footer';


body{
    background-color: $bgmain;
    font-size: 16px;

}
h1{
    font-size: 44px;
}
a{
    color: $link;
    text-decoration: none;
    &:hover{
        color: $linkHov;
    }
}

.container{
    max-width: $xl;
    padding: 0 15px;
    margin: 0 auto;
}
.main{
    margin-top: 100px;
}
.d-none{
    display: none;
}

